.target {
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.leftpanel-show{
  position: absolute;
  top: 30px;
  right: 45px;
  width: 60px;
  height: 60px;
  display: none;
}
.leftpanel{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 360px;
  height: auto;
  max-height: 90%;
  margin: 0 0 0 0;
  overflow-y: auto;
}
.panel{
  margin: 30px;
  position: relative;
  font-family: monospace;
}
.mdl-card {
    margin: 8px;
    /*width: 100%;*/
    min-height: 100px;
}
.mdl-data-table{
  border: 0px;
}
.mdl-tabs a{
  color: rgba(0,0,0,.54);
}
.mdl-tabs__panel > div{
  display: flex;
  flex-wrap: wrap;
}
.mdl-tabs__panel button{
  flex-grow: 1;
  height:32px;
  line-height: 32px;
  padding: 0 8px;
  text-transform: none;
}
