@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.target {
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.leftpanel-show{
  position: absolute;
  top: 30px;
  right: 25px;
  width: 60px;
  height: 60px;
  display: none;
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
}

.zoombtn{
  margin: 10px;
}
.leftpanel{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 360px;
  height: calc(100% - 40px);
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  pointer-events:none;
}
.lefttoppanel{
  transform-origin: 100% 0%;
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
  flex-grow: 0;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}
.leftpanel-space{
  flex-grow: 1;
  pointer-events:none;
}
.zoompanel{
  align-self: flex-end;
  flex-grow: 0;
  pointer-events: auto;
}
.panel{
  margin: 30px;
  position: relative;
  font-family: monospace;
}
.mdl-card {
  margin: 8px;
  width: 350px;
  pointer-events: auto;
  transition-property: all;
  transform-origin: 50% 0%;
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
  min-height: 100px;
}
.mdl-card__title h3{
  margin: 12px 0;
  font-weight: bold;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
#card-header {
  flex-grow: 0;
  flex-shrink: 0;
}
.mdl-data-table{
  border: 0px;
}
.mdl-tabs a{
  color: rgba(0,0,0,.54);
}
.mdl-tabs__tab{
  padding: 0 8px;
}
.mdl-tabs__panel{
  padding: 16px 0;
}
.mdl-tabs__panel > div{
  display: flex;
  flex-wrap: wrap;
}
.mdl-tabs__panel button{
  flex-grow: 1;
  height:32px;
  line-height: 32px;
  padding: 0 8px;
  text-transform: none;
}
#fsinfo {
  transform-origin: 50% 0%;
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
  overflow-y: auto;
}
#advanced_form{
  display: none;
  transform-origin: 50% 0%;
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
}
#advanced_form .mdl-card__title {
  padding: 8px 16px;
}
