.target {
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.leftpanel{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 400px;
  height: auto;
  max-height: 90%;
  margin: 0 0 0 0;
  overflow-y: scroll;
}
.panel{
  margin: 30px;
  position: relative;
  font-family: monospace;
}
.mdl-card {
    margin: 8px;
    width: 100%;
    min-height: 100px;
}
.mdl-data-table{
  border: 0px;
}
