<!doctype html>
<html>
<head>
  <title>PacVis</title>

  <script type="text/javascript" src="static/vis-network.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    body{
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
    .target {
      width: 100vw;
      height: 100vh;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
  </style>
</head>
<body>
<div id="target" class="target"></div>

  <script type="text/javascript">
    var nodes = new vis.DataSet([
      {% for node in nodes %}
        {id: {{node["id"]}} , label: '{{node["label"]}}', level: {{node["level"]}}, group: '{{node["group"]}}', title:'{{node["title"]}}', value:'{{node["size"]}}'},
      {% end %}
    ]);


    var edges = new vis.DataSet([
      {% for link in links %}
        {from: {{link["from"]}}, to: {{link["to"]}} },
      {% end %}
    ]);

    // create a network
    var container = document.getElementById('target');
    var data = {
      nodes: nodes,
      edges: edges
    };
    var options = {
      groups: {
        standalone: { shape: 'square', size: 12 },
        normal: { shape: 'dot', color: 'rgb(200,255,200)'},
        explicit: { shape: 'dot', color: 'rgb(200,200,255)'},
        consolidated: { shape: 'star', color: 'red', size: 12},
      },
      nodes: {
        scaling: {
          // customScalingFunction: function (min,max,total,value) {
          //   return value/total;
          // },
          min: 1,
          max: 30,
        }
      },
      edges: {
         smooth: {
             type: 'horizontal',
            //  forceDirection: 'vertical' ,
            //  roundness: 0.4
         },
         arrows: {to : true }
      },
      layout: {
         hierarchical: {
             direction: "UD",
             nodeSpacing: 500,
             treeSpacing: 100,
             levelSeparation: 100,
             blockShifting: false,
             edgeMinimization: false,
             parentCentralization: false
         },
        improvedLayout: true
      },
      // physics: false,
      physics: {
        maxVelocity: 100,
        hierarchicalRepulsion: {
          nodeDistance: 500,
          springLength: 400,
          springConstant: 0.2,
          damping: 0.1
        },
        // barnesHut: {
        //   gravitationalConstant: -100000,
        //   springLength: 200,
        //   springConstant: 0.1,
        //   avoidOverlap: 0.5
        // },
        // repulsion: {
        //   nodeDistance: 400,
        //   springLength: 200,
        // },
        timestep: 0.1,
        stabilization: {
          iterations: 5000,
          updateInterval: 100,
        }
      }
    };
    var network = new vis.Network(container, data, options);
    network.on("startStabilizing", function (params) {
      document.title = 'PacVis | ';
    });
    network.on("stabilizationProgress", function (params) {
      document.title = 'PacVis | ' +  Math.round(params.iterations/params.total*100) + "%";
    });
    network.on("stabilizationIterationsDone", function (params) {
      document.title = 'PacVis';
    });
  </script>

</body>
</html>
